{% extends "layout.html" %}
{% block content %}
<ul>
    <li class="am-u-sm-3">
        <div>
            <h1>title</h1>
            <p>content</p>
            <p><span>2015-12-12</span></p>
        </div>
    </li>
    <li class="am-u-sm-3">
        <div>
            <h1>title</h1>
            <p>content</p>
            <p><span>2015-12-12</span></p>
        </div>
    </li>
    <li class="am-u-sm-3">
        <div>
            <h1>title</h1>
            <p>content</p>
            <p><span>2015-12-12</span></p>
        </div>
    </li>
    <li class="am-u-sm-3">
        <div>
            <h1>title</h1>
            <p>content</p>
            <p><span>2015-12-12</span></p>
        </div>
    </li>
</ul>
{% endblock %}
