<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>
<header class="am-topbar am-text-center">
    <h1 class="am-sm-12">超简单留言板</h1>
    <div class="am-g">
        <a class="am-btn-default" href="/">所有留言</a>
        <a class="am-btn-default" href="/index/add">添加留言</a>
    </div>
</header>
<div class="am-g content">
{% block content %}

{% endblock %}
</div>
<footer class="footer">
    <p>@2018 超简单留言板</p>
</footer>

<!--[if it IE 9]-->
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<!--[endif]-->

<!--[if (gte IE9)|!(IE)]-->
<script src="assets/js/jquery.min.js"></script>
<!--[endif]-->
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>